.game-overview .game-title {
    font-size: 2rem;
    margin-left: 50px;
}

.game-overview .game-header {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.game-overview .game-header .game-save-remove-button {
    margin-top: 25px;
    margin-right: 50px;
}

.cover-and-screenshots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.game-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.game-overview th, .game-overview table td {
    align-items: center;
    vertical-align: center;
}

.genre-names {
    font-weight: bold;
    color: white;
    background-color: cornflowerblue;
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 10px;
}

.company-name:first-child {
    margin-left: 50px; /* Apply margin-left only to the first company name */
}

.company-name {
    font-weight: bold;
    color: white;
    background-color: cornflowerblue;
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 10px; /* Spacing between other items */
    margin-left: 0; /* Reset margin for other items */
}