body {
    background-color: #353535;
    color: white;
    padding-top: 60px;
}

/* Game Datatables */
.game-table {
    border-collapse: collapse;
    width: 100%;
}

body .ui-datatable .ui-datatable-data>tr {
    background-color: #404040;
    color: white;
}

.game-table tr {
    border-bottom: 10px solid #353535;
}

.nested-table thead {
    display: none;
}
.nested-table tr {
    border: none;
    background: transparent;
    font-size: 13.5px;
}

/* Card Content */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}

body .ui-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #404040;
    color: white;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    overflow: hidden;
}

.ui-card-body {
    width: 100%;
    height: 175px;
    box-sizing: border-box;
    background-color: #404040;
}

.ui-card-header {
    align-items: center;
    width: 264px;
    height: 352px;
    position: relative;
}

.ui-card-header img {
     object-fit: cover;
     width: 100%;
     height: 100%;
}

/* Hidden Overlay Button (Click Anywhere on Card) */
.hidden-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    opacity: 0;
    cursor: pointer;
    /*want to make this underneath the save button*/
    z-index: 2;
}

body .ui-card .ui-card-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.save-button {
    opacity: 0;
    z-index: 3;
    bottom: 350px;
    left: 220px;
}

.ui-card:hover .save-button {
    opacity: 1;
}

/* GameSave popup menu*/
body .ui-dialog {
    border-radius: 4px;
    width: 350px;
    visibility: visible;
    z-index: 1022;
    display: grid;
    left: 773.5px;
    top: 199.906px;
}

body .ui-selectcheckboxmenu {
    vertical-align: baseline;
    border: black;
    position: relative;
    transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s,opacity .2s;
    border-radius: 4px;
    background: #404040;
    color: white;
    margin-left: 40px;
}